
poc/\.vs/poc/v14/\.suo

poc/packages/Microsoft\.Exchange\.WebServices\.2\.2/doc/License Terms\.rtf

poc/packages/Microsoft\.Exchange\.WebServices\.2\.2/doc/README\.htm

poc/packages/Microsoft\.Exchange\.WebServices\.2\.2/doc/Redist\.txt

poc/packages/Microsoft\.Exchange\.WebServices\.2\.2/lib/40/Microsoft\.Exchange\.WebServices\.Auth\.dll

poc/packages/Microsoft\.Exchange\.WebServices\.2\.2/lib/40/Microsoft\.Exchange\.WebServices\.Auth\.pdb

poc/packages/Microsoft\.Exchange\.WebServices\.2\.2/lib/40/Microsoft\.Exchange\.WebServices\.Auth\.xml

poc/packages/Microsoft\.Exchange\.WebServices\.2\.2/lib/40/Microsoft\.Exchange\.WebServices\.pdb

poc/packages/Microsoft\.Exchange\.WebServices\.2\.2/lib/40/Microsoft\.Exchange\.WebServices\.xml

poc/packages/Microsoft\.Exchange\.WebServices\.2\.2/Microsoft\.Exchange\.WebServices\.2\.2\.nupkg

poc/poc/bin/Debug/Microsoft\.Exchange\.WebServices\.Auth\.dll

poc/poc/bin/Debug/Microsoft\.Exchange\.WebServices\.Auth\.pdb

poc/poc/bin/Debug/Microsoft\.Exchange\.WebServices\.Auth\.xml

poc/poc/bin/Debug/Microsoft\.Exchange\.WebServices\.dll

poc/poc/bin/Debug/Microsoft\.Exchange\.WebServices\.pdb

poc/poc/bin/Debug/Microsoft\.Exchange\.WebServices\.xml

poc/poc/bin/Debug/poc\.exe

poc/poc/bin/Debug/poc\.exe\.config

poc/poc/bin/Debug/poc\.pdb

poc/poc/bin/Debug/poc\.vshost\.exe

poc/poc/bin/Debug/poc\.vshost\.exe\.config

poc/poc/bin/Debug/poc\.vshost\.exe\.manifest

poc/poc/obj/Debug/DesignTimeResolveAssemblyReferencesInput\.cache

poc/poc/obj/Debug/poc\.csproj\.FileListAbsolute\.txt

poc/poc/obj/Debug/poc\.csprojResolveAssemblyReference\.cache

poc/poc/obj/Debug/poc\.exe

poc/poc/obj/Debug/poc\.pdb

poc/poc/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92\.cs

poc/poc/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1\.cs

poc/poc/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3\.cs
